* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 550px) {
  body {
    background-image: url("../assets/shopping-cart-background.jpg");
    padding: 2rem 0;
  }
}